//$bg-dashboard: #0C4361;
$bg-dashboard: #ffffff;
//$bg-dashboard-dark: #0C4361;
$bg-dashboard-dark: #ffffff;
$bg-content: #FDFDFE;
$color-font: #000000;
$color-font-light: #484848;
$color-icon-dashboard: #131313;
$bg-icon: #e96464;
$color-icon-dark: #040000;
$bg-card:#ffffff;
